@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
}

h1 {
    font-size: 80px;
}

body {
    background-image: url('images/basement.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    cursor: none; /* Hide default */
}

.rules{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 111, 207, 0.62);
}

.ouija-rule-main, li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.planchette-cursor {
    width: 95px; /* Adjust size */
    height: 120px;
    background-image: url('images/planchette5.png');
    background-size: cover;
    position: absolute;
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
    z-index: 9999;
}

.ouija-board-build {
    background-image: url('images/blank-ouija-board1.jpg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.board-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 2em;
    padding: 30px;
    font-size: 40px;
}

.ouija-riddle-build{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.riddle-answer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 85px;
}



